<html>

<head>
    <title>
        Templates
    </title>
</head>

<body>
    <h1>Welcome to Templates</h1><br>
    <hr>
    <br>
    <form action="removepunch" method="GET">
        <textarea name="text" style="margin: 0px; width: 898px; height: 154px;"></textarea>
        <br>
        <br>
        <input type="checkbox" name="removepunc" />Remove Punctuation
        <br><br>
        <input type="checkbox" name="fullcaps" />Upper Case
        <br><br>
        <input type="checkbox" name="nlr" />New Line Remover
        <br><br>
        <input type="checkbox" name="esr" />Extra Space Remover
        <br><br>
        <input type="checkbox" name="charcount" />Character Counter
        <br><br>
        <button type="submit">
            Analyze
        </button></form>
</body>

</html>
